.blog {
  max-width: 1600px;
  margin: auto;
}

.blogCardCollection {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.blogCardCollection div {
  flex: 1;
  max-width: 450px;
}
.index {
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  .index {
    margin: 10px;
  }
  .blogCardCollection {
    justify-content: center;
  }
}
