.tag {
  margin: 10px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #44475a;
  border-radius: 10px;
  transition: all 1s;
}

.tag:hover {
  margin: 20px;
  opacity: 0.5;
}

.div {
  display: inline-block;
  color: white;
  background-color: #44475a;
}

.indent {
  margin-left: 20px;
}
