.jumbotronContainer,
.jumbotronContainerLink {
  padding: 40px;
  min-height: 300px;
  display: flex;
  transition: all 1s;
}
.jumbotronContainerLink:hover {
  opacity: 0.7;
}
.jumbotronContent {
  margin-right: 10px;
}
.jumbotronTitle {
  font-size: 4em;
  font-weight: bold;
  color: #f8f8f2;
  max-width: 800px;
  overflow-wrap: break-word;
  hyphens: auto;
}
.jumbotronSubtitle {
  font-size: 2em;
  color: #f8f8f2;
}
.jumbotronImage {
  width: 200px;
  height: 200px;
}

.navContainer {
  background-color: #6272a4;
}

.navItem,
.selectedNavItem {
  font-size: 1.6em;
  cursor: pointer;
  padding: 20px;
  color: #f8f8f2;
  font-weight: bold;
  transition: all 0.5s;
}

.selectedNavItem {
  color: #282a36;
}

.navItem:hover {
  opacity: 0.7;
  color: #282a36;
}

.cardContainer {
  min-width: 300px;
  transition: all 1s;
}

.cardContainer:hover {
  margin-left: 30px;
  margin-right: 30px;
  opacity: 0.7;
}

.cardImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.cardImage {
  height: 150px;
  width: 150px;
}

.cardContent {
  margin-top: 10px;
  height: 100px;
}
.cardContent div {
  font-weight: bold;
}
.cardSubtitle {
  color: #ff79c6;
  font-size: 18px;
}
.cardTitle {
  font-size: 24px;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .jumbotronContainer,
  .jumbotronContainerLink {
    padding: 10px;
    min-height: 400px;
  }
  .jumbotronImage {
    width: 100px;
    height: 100px;
  }
  .navContainer {
    justify-content: space-evenly;
    background-color: #6272a4;
  }
  .navItem,
  .selectedNavItem {
    padding: 10px;
  }
}
