.jumbotronContainer,
.jumbotronContainerLink {
  padding: 40px;
  min-height: 300px;
  display: flex;
  transition: all 1s;
}
.jumbotronContainerLink:hover {
  opacity: 0.7;
}
.jumbotronContent {
  margin-right: 10px;
}
.jumbotronTitle {
  font-size: 4em;
  font-weight: bold;
  color: #f8f8f2;
  max-width: 800px;
  overflow-wrap: break-word;
  hyphens: auto;
}
.jumbotronSubtitle {
  font-size: 2em;
  color: #f8f8f2;
}
.jumbotronImage {
  width: 200px;
  height: 200px;
}

.navContainer {
  margin: 20px;
}

.navItem,
.selectedNavItem {
  cursor: pointer;
  opacity: 0.7;
  color: #f8f8f2;
  font-weight: bold;
  transition: all 0.5s;
}

.selectedNavItem,
.navItem:hover {
  opacity: 1;
}

.cardContainer {
  margin: 20px;
  margin-top: 0px;
  min-width: 300px;
  transition: all 1s;
}

.cardContainer:hover {
  margin-left: 30px;
  margin-right: 30px;
  opacity: 0.7;
}

.cardImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.cardImage {
  height: 150px;
  width: 150px;
}

.cardContent {
  margin-top: 10px;
  height: 100px;
}
.cardContent div {
  font-weight: bold;
}
.cardSubtitle {
  color: #ff79c6;
  font-size: 18px;
}
.cardTitle {
  color: #282a36;
  font-size: 24px;
  overflow: hidden;
}

.pillContainer {
  color: #f8f8f2;
  border-radius: 50px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 10px;
}

.pillSubtitle {
  font-size: 0.8em;
}
.pillTitle {
  font-size: 1.5em;
  font-weight: bold;
}
.pillImageContainer {
  margin-left: 30px;
}
.pillImage {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 600px) {
  .jumbotronContainer,
  .jumbotronContainerLink {
    padding: 10px;
    min-height: 400px;
  }
  .jumbotronImage {
    width: 100px;
    height: 100px;
  }
  .navContainer {
    margin: 10px;
  }
  .pillContainer {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .pillImageContainer {
    margin-left: 15px;
  }
  .pillImage {
    width: 15px;
    height: 15px;
  }
}
