.postContent {
  margin: 20px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}

.postContent p {
  margin-left: auto;
  margin-right: auto;
}
.postContent img {
  padding: auto;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.postDate {
  color: #f8f8f2;
  padding: 20px;
  font-size: 1.6em;
}

.blogCardCollection {
  margin: 20px;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.blogCardCollection div {
  flex: 1;
  max-width: 450px;
}

@media only screen and (max-width: 600px) {
  .blogCardCollection {
    justify-content: center;
  }
}
